
body {
    text-align: center;
    

}
.bg {
    display: flex;
    height: 100vh;
    background-image: url(./stocks.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main{
    color: white;
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: rgb(0,0,0,0.3);
    padding: 2rem;
}
input {
   padding: 0.5rem;
   margin: 1rem;
   background: transparent;
   color:white;
   border: 0;
   border-bottom: 1px solid white;
}
input::placeholder{
    color: darkgray;
}
input::selection{
    border: 1px solid black;
}
button {
    padding: 0.5rem;
    margin: 0.5rem 0rem 1rem 0;
    text-transform: uppercase;
}
h3 {
    color:white;
}
button:hover {
    background: darkgray;
}
#outputBox {
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 50%;
    font-size: large;
}